# team_url is in slack url: https://<your_team_url>.slack.com/
team_url = your_team_url

# You can get your token in following url: https://api.slack.com/custom-integrations/legacy-tokens
token = your_token

# specify channel names you want to show in public viewer. channel names should be separated by space
open_channels = channel1 channel2

# specify channel names you don't want to fetch from slack. channel names should be separated by space
excluded_channels = channel3 channel4

# specify secret path to all channels viewer
secret_path = your-secret-path
