<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
<meta charset="UTF-8">
<title>SlackViewer</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://use.fontawesome.com/c230867484.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script src="/slack-crawler/js/viewer.js"></script>

</head>
<body style="height: 100%;">
	<div class="container-fluid"
		style="padding-right: 0px; padding-left: 0px; height: 100%;">
		<div class="row"
			style="padding-right: 0px; padding-left: 0px; height: 100%; margin-left: 0px; margin-right: 0px;">
			<div class="col-sm-3"
				style="padding-right: 0px; padding-left: 0px; height: 100%;">
				<div id="channels" class="list-group"
					style="position: relative; top: 0; bottom: 0; left: 0; display: block; overflow-x: hidden; overflow-y: scroll; margin-bottom: 0; height: 100%; width: 100%;">
					<a th:each="channel: ${channels}" th:href="'#' + ${channel.name}"
						th:id="'channel-' + ${channel.id}"
						class="list-group-item list-group-item-action"
						style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0;"><i
						th:if="${channel.type == 'PUBLIC_CHANNEL'}" class="fa fa-slack"
						aria-hidden="true"></i><i
						th:if="${channel.type == 'PRIVATE_CHANNEL'}" class="fa fa-key"
						aria-hidden="true"></i> <i
						th:if="${channel.type} == 'MULTI_PARTY_DIRECT_MESSAGE'"
						class="fa fa-users" aria-hidden="true"></i><i
						th:if="${channel.type} == 'DIRECT_MESSAGE'" class="fa fa-user"
						aria-hidden="true"></i><span th:text="${channel.name}"
						style="margin-left: 3px;" /> </a>
				</div>
			</div>
			<div class="col-sm-9"
				style="height: 100%; padding-right: 0px; padding-left: 0px;">
				<div class="panel panel-default"
					style="height: 100%; display: block; margin-bottom: 0px; border-radius: 0;">
					<div class="panel-heading"
						style="border-top-left-radius: 0; border-top-right-radius: 0;">
						<h3 id="active-channel-name" class="panel-title"></h3>
					</div>
					<div id="messages" class="panel-body"
						style="display: block; overflow-x: hidden; overflow-y: auto; position: fixed; bottom: 0; top: 45px;"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>